<div class="links">
<h1>Index</h1>

<!-- AriCalculator -->
<div class="link">
<a class="active" href="{{ site.url }}/index.html#AriCalculator">
<h1>AriCalculator</h1>
Handheld calculator
</a>
</div><!--<div id="link">-->

<!-- ColorPanel -->
<div class="link">
<a class="active" href="{{ site.url }}/index.html#ColorPanel">
<h1>ColorPanel</h1>
A decorative mood light
</a>
</div><!--<div id="link">-->

<!-- HSW12 -->
<div class="link">
<a class="active" href="#HSW12">
<h1>HSW12</h1>
Assembler and IDE
</a>
</div><!--<div id="link">-->

<!-- LEDCube -->
<div class="link">
<a class="active" href="#LEDCube">
<h1>LEDCube</h1>
A simple Arduino project
</a>
</div><!--<div id="link">-->

<!-- MagniCube -->
<div class="link">
<a class="active" href="#MagniCube">
<h1>MagniCube</h1>
Another 4x4x4 LED cube
</a>
</div><!--<div id="link">-->

<!-- Mini-BDM-Pod -->
<div class="link">
<a class="active" href="#Mini-BDM-Pod">
<h1>Mini-BDM-Pod</h1>
D-Bug12XZv6 BDM pod
</a>
</div><!--<div id="link">-->

<!-- OpenBDC -->
<div class="link">
<a class="active" href="#OpenBDC">
<h1>OpenBDC</h1>
Universal BDM debugger
</a>
</div><!--<div id="link">-->

<!-- S12CBase -->
<div class="link">
<a class="active" href="#S12CBase">
<h1>S12CBase</h1>
Basic application framework
</a>
</div><!--<div id="link">-->

<!-- S12CForth -->
<div class="link">
<a class="active" href="#S12CForth">
<h1>S12CForth</h1>
ANS Forth
</a>
</div><!--<div id="link">-->

<!-- S12G-Micro-EVB -->
<div class="link">
<a class="active" href="#S12G-Micro-EVB">
<h1>S12G-Micro-EVB</h1>
Compact evaluation board
</a>
</div><!--<div id="link">-->

</div><!--<div id="links">-->
