<html>
<head>
<title>hotwolf - {{ page.title }}</title>
<link href="{{ site.url }}/Oscilloscope.css"  rel="stylesheet" type="text/css" />
<link href="https://github.com/hotwolf.atom" rel="alternate"  type="application/atom+xml" title="hotwolf's Activity" />
<link href="{{ site.url }}/favicon.ico"       rel="shortcut icon" />
</head>
<body>

<div id="background1"></div>
<div id="background2"></div>
<div id="background3"></div>
<div id="background4"></div>

<div id="sidebar">

{% include ProjectIndex.html %}

</div><!--<div id="sidebar">-->

<div id="main">

<div id="content">
{{ content }}
</div><!--<div id="content">-->

</div><!--<div id="main">-->

</body>
</html>
